body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

canvas {
    background-color: red;
    /*Copied code to fix blurry canvas drawings*/
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /*https://stackoverflow.com/questions/42588501/how-do-i-fix-blurry-shape-edges-in-html5-canvas*/
}

button {
    height: 2em;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
    gap: 0.5em;
}